a {
        margin-left: 32px;
        text-decoration: none;
        color: #0e1116;
        position: relative;
        padding-bottom: 4px;
      }

      a:hover::after {
        content: "";
        position: absolute;
        bottom: 4px;
        left: 0;
        height: 2px;
        width: 100%;
        background: #444;
        background: linear-gradient(to right, #c06bd2, #5ca1df);
      }
